.object-fit_cover {
  object-fit: cover
}

/*.object-fit_none {
  object-fit: none
}*/

.image {
  width: 300px;
  height: 300px;
}

/*img[class] {
}*/

.postsContainer img {
  width: 100%;
  height: 300px;
  background-image: url('../img/pug.svg');
}

.postsContainer .row, .filterContainer {
  margin-bottom: 80px;
}