extends base-layout

block append head
  link(rel='stylesheet' href='/css/chat.css')

block content
  input(id='searchUser' type='text', placeholder='search user')
  select(id='usernames')
    option(
      value=''
      disabled
      selected
    )
  .usernamesContainer
    each name in uniqueUsernames
      p(
        class='receiver'
      )= name

  ol.chat
  .row
    input.textarea.send(type='text', placeholder='Type here!')

block append scripts
  script(src="/socket.io/socket.io.js")
  script(src='/js/chat.js')