extends base-layout

block append head
  link(rel='stylesheet' href='/css/chat.css')

block content

  each name in uniqueUsernames
    p(
      class='receiver'
    )= name

  ol.chat
  .row
    input.textarea.send(type='text', placeholder='Type here!')

block append scripts
  script(src="/socket.io/socket.io.js")
  script(src='/js/chat.js')