extends base-layout

block append head
  //- put custom css her
  //- link(rel='stylesheet' href='/components/Croppie/croppie.css')

  link(rel='stylesheet' href='/css/find.css')

block content
  h1 Find Pet

  //- .row
  //-   .one-third.column
  //-     a(
  //-       href='#'
  //-     )
  //-       .image
  //-         img(
  //-           src='https://i.imgur.com/NJrX9SK.png'
  //-           class='object-fit_cover u-full-width'
  //-         )
  //-         p
  //-           h3 This is a title
  //-   .one-third.column
  //-     a(
  //-       href='#'
  //-     )
  //-       .image
  //-         img(
  //-           src='http://i3.kym-cdn.com/entries/icons/original/000/008/414/cute-animals-5-animals-9403312-650-456.jpg'
  //-           class='object-fit_cover u-full-width'
  //-         )
  //-         p
  //-           h3 This is a title
  //-   .one-third.column
  //-     a(
  //-       href='#'
  //-     )
  //-       .image
  //-         img(
  //-           src='https://s-media-cache-ak0.pinimg.com/736x/8c/58/ef/8c58ef5384f7c67d7a96689b0d514994.jpg'
  //-           class='object-fit_cover u-full-width'
  //-         )
  //-         p
  //-           h3 This is a title


block append scripts
  //- script(src='/components/Croppie/croppie.js')

  script(src='/js/find.js')