extends base-layout

block content
  h1 Welcome to the Pet Adoption Forum
  a(href='/forum/create') Create new topic
  ul.container-fluid.list-group
  each thread in result
      li.list-group-item
        a(href='/forum/' + thread._id)= thread.title
        span &nbsp Posted by #{thread.username} on #{thread.dateTime}
