extends base-layout

block append head

block content
  .row
  if !user
      .three.columns
        a(class='button' href='/register') Register
      .three.columns
        a(class='button' href='/login') Login
  else
    .row
      .twelve.columns
        p(class='u-pull-right') Hello,&nbsp;
          a(href=`/user/${user.username}`)= user.username
  .three.columns
    a(class='button button-primary' href='/find') Find Pet