extends base-layout

block append head
  title Project Puppy / Chat
  link(rel='stylesheet' href='/css/chat.css')

block content
  input(id='searchUser' type='text', placeholder='search user')
  select(id='usernames')
  .usernamesContainer
    each name in uniqueUsernames
      button(
        class='receiver button'
      )= name

  ol#chat
  .row
    input.textarea.send(type='text', placeholder='Type here!')

block append scripts
  script(src="/socket.io/socket.io.js")
  script(src='/js/chat.js')