extends base-layout

block head
  link(rel="stylesheet" href="/components/bootstrap-css-only/css/bootstrap.css")

block content
  if errors
    each error in errors
      h3= error.msg
  form#submitPost(action="/forum/create" method="post")
    input.form-control(type="text" name="title" placeholder="Enter Title" id='titleInput')
    textarea.form-control(name="content" placeholder="Enter your question" id='descriptionInput')
    button
      | Create

block append scripts
  script(src='/js/create-thread.js')