extends base-layout

block append head
  link(rel='stylesheet' href='/css/home.css')

block content
  if user
    .row
      .twelve.columns.userStats
        p(class='u-pull-right') Hello,&nbsp;
          a(href=`/user/${user.username}`)= user.username
          br
          | you have &nbsp;
          span.msgCount
          span &nbsp; new&nbsp;
          a.chatLink(href='/chat') messages
          br
          a.button(href='/logout') logout
    .row
      .one-third.column &nbsp;
      .one-third.column
        a(class='button u-full-width' href='/post/create-post') Create new post
  .row
    .one-third.column &nbsp;
    .one-third.column
      a(class='button button-primary u-full-width' href='/find') Find Pet
  .row

    .one-third.column &nbsp;
    .one-third.column
      a.button.u-full-width(href='/forum') see our forum


  if !user
    .row
      .one-third.column &nbsp;
      .one-third.column
        a.u-full-width(class='button' href='/register') Register
    .row
      .one-third.column &nbsp;
      .one-third.column
        a.u-full-width(class='button' href='/login') Login


block append scripts
  script(src="/socket.io/socket.io.js")
  script(src='/js/home.js')